:root{
	--bg     : #101018;
	--w      : #eee;
	--b      : #111;
	
	--color-1: rgba(39, 151, 255, 1);
	--color-2: rgba(35, 44, 83, 1);
	--color-3: rgba(13, 21, 61, 1);

	--color-1-03: rgba(39, 151, 255, 0.3);
	--color-2-03: rgba(35, 44, 83, 0.3);
	--color-3-03: rgba(13, 21, 61, 0.3);
	--b-03: rgba(0, 0, 0, 0.3);

	--color-1-09: rgba(39, 151, 255, 0.9);
	--color-2-09: rgba(35, 44, 83, 0.9);
	--color-3-09: rgba(13, 21, 61, 0.9);
	--b-09: rgba(0, 0, 0, 0.9);
}
*{
	margin: 0;
	padding: 0;
	list-style: none;
	outline: none;
}

*::-webkit-scrollbar{ width: 0px; height: 0px }
/**::-webkit-scrollbar-track{background-color: var(--bg) }*/
/**::-webkit-scrollbar-thumb{ background-color: var(--color-1) }*/
a {
	text-decoration: none;
}
hr {
	position: relative;
	width: 0px;
	height: 1px;
	margin: 75px 0;
	transform: translate(-50%, 0);
	background: var(--w);
	left: 50%;
	border: none;
	overflow: visible;
	opacity: 0;
}
hr:before, hr:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	margin: -5px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: var(--w);
	z-index: 2;
}
hr:after {
	left: 100%;
}
.hrlong {
	width: 500px;
}
.pointnone {
	pointer-events: none;
}
.interface {
	position: fixed;
	z-index: 800;
}
#divTest {
	position: fixed;
	left: 50%;
	top: 15px;
	transform: translate(-50%, 0);
	background-color: #000;
	color: #0f0;
	z-index: 9999999;
	font-family: Monospace;
	font-size: 15px;
}