*{
	margin: 0;
	padding: 0;
	font-family: arial;	
	text-decoration: none;
}
html{
	background: #000;
	/*overflow: hidden;*/
}
.bg{
	width: 100%;
	position: fixed;
	z-index: -1;
}
.mr5{
	position: relative;
	height: 5vh;
}
.mr10{
	position: relative;
	height: 10vh;
}
.mr20{
	position: relative;
	height: 12.5vh;
}
.mr30{
	position: relative;
	height: 15vh;
}
.mr40{
	position: relative;
	height: 17.5vh;
}
.mr50{
	position: relative;
	height: 20vh;
}

@keyframes pulselnk{
	0%{
		left: 50%;
	transform: translate(-50%, 0) scale(1);
	}
	8% {
		left: 50%;
	transform: translate(-50%, 0) scale(1.07);
	}
	16% {
		left: 50%;
	transform: translate(-50%, 0) scale(1);
	}
	100% {
		left: 50%;
	transform: translate(-50%, 0) scale(1);
	}
}
.sliderp{
	overflow: hidden;
	width: 100%;
	height: 85vw;
	position: relative;
}

.slider{
	width: calc((120vw) * 4);
	position: relative;
}

.slider .item {
	width: 70vw;
	height: 85vw;
	float: left;
	overflow: hidden;
	margin:0 15vw;
	border-radius: 10px;
}
.slider .item p{
	position: absolute;
	transform: translate(-50%, 0);
	z-index: 10;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	margin: 10vw 0 0 35vw;
	text-shadow: -2px 2px 0 #000, 
                          2px 2px 0 #000, 
                         2px -2px 0 #000, 
                        -2px -2px 0 #000;
}
.slider .item img {
	width: 100%;
	position: relative;
	z-index: 0;
	box-shadow: 4px 0 1px 1px  #000;
	
}


.btn {
	width: 20px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}
.btnl {
	left: calc(100vw - 7vw);
}
.btnr {
	left: 7vw;
	transform-origin: center;
}

#canvas {
	/*border: 1px solid #fff;*/
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	mix-blend-mode: screen;
	/*background-blend-mode: overlay;*/
	/*background: red;*/
}

.btnlnk{
	width: 80%;
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	margin: 20px 0;
	border-radius: 5px;
}
.pulse{
	animation: pulselnk 3s infinite;
}
a {
	font-weight: bold;
	display: block;
	position: relative;
	text-align: center;
	color: #fff;
	padding: 20px;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.3);
}
.gradient-red{
	background: linear-gradient(-45deg, #fbbe09, #f42513);
}
.gradient-green{
	background: linear-gradient(-45deg, #4bd06d, #1c5f1f);
}
.gradient-blue{
	background: linear-gradient(-45deg, #1298e5, #013172);
}
.gradient-gray{
	background: linear-gradient(-45deg, #545454, #393939);
}



.btnlnk a img {
	width: 30px;
	left: 30px;
	top: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	position: absolute;
}

.linegr {
	margin: 5px 0;

	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.linegr::after{
	content: '';
	width: 30%;
	height: 1px;
	background: linear-gradient(45deg, rgba(255,255,255,1), rgba(255,255,255,0));
}
.linegr::before{
	content: '';
	width: 30%;
	height: 1px;
	background: linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,1));
}
.linegr img {
	width: 15px;
	margin: 8px;
}

.price {
	position: relative;
	width: 100vw;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 20px;
}

.price p {
	color: #fff;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	/*text-shadow: 0px 0px 5px  rgba(0,0,0,1);*/
	/*text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;*/
}