@font-face {
  font-family: myFont;
  src: url(font/Bickham_Script_Pro_3_Regular.otf);
}
@font-face {
  font-family: myFont2;
  src: url(font/KZ_Andantino_script.ttf);
}


:root {
  --dark: #544943;
  --white: #fff;
  black: #000;
}

.mr1{
	position: relative;
	height: 1vh;
}
.mr5{
	position: relative;
	height: 5vh;
}
.mr10{
	position: relative;
	height: 10vh;
}
.mr20{
	position: relative;
	height: 12.5vh;
}
.mr30{
	position: relative;
	height: 15vh;
}
.mr40{
	position: relative;
	height: 17.5vh;
}
.mr50{
	position: relative;
	height: 20vh;
}

.linegr {
	margin: 5px 0;
	display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.linegr::after{
	content: '';
	width: 30%;
	height: 1px;
	background: linear-gradient(45deg, rgba(0,0,0,1), rgba(0,0,0,0));
}
.linegr::before{
	content: '';
	width: 30%;
	height: 1px;
	background: linear-gradient(45deg, rgba(0,0,0,0), rgba(0,0,0,1));
}
.linegr img {
	width: 15px;
	margin: 8px;
}

h1 { font-size: clamp(40px, 7vw, 52px); font-weight: 100;  line-height: 40px; font-family: myFont2}
h2 { font-size: clamp(60px, 10vw, 55px); font-weight: 100; line-height: 40px}
h3 { font-size: clamp(18px, 3vw, 28px); font-weight: 600; }
h4 { font-size: clamp(16px, 2.5vw, 22px); font-weight: 500; }
h5 { font-size: clamp(15px, 2vw, 18px); font-weight: 500; }
h6 { font-size: clamp(14px, 1.5vw, 16px); font-weight: 500; }

h1, h2, h3, h4, h5, h6{ text-align:center;}

.name2 {
	font-family: myFont;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

*{
	color: var(black);
	margin: 0;
	padding: 0;
	font-family: myFont;	
	text-decoration: none;
	/*outline: 1px solid rgba(0,0,0,.25);*/
}
html{
	background: #fff;
}

p, h1, h2, h3, h4, h5, h6 {
  opacity: 0;
}



.con1 {
	width: 100%;
	position: relative;
}

.img1 {
	width: 100%;
	z-index: -1;
	position: relative;	
}
.con1 .name {
	position: absolute;
	z-index: 10;
	text-align: center;
	width: 100%;
}
p {
	font-family: myFont2;
	text-align: center;
	font-size: 70px;
	line-height: 70px;

}

.btn {
	background: rgba(0, 0, 0, 0);
	z-index: 10;
	position: fixed;
	right: 0px;
	bottom: 0;
	border: 0;
	outline: 0;
}
#btnimg {
	width: 40px;
	margin: 15px;
}
/*.tugis {
	position: relative;
	display: inline-block;
	width: 30px;
	/*top: 0px;*/
	/*top: 50%;*/
	/*left: 10px;*/
	/*transform: rotate(-30deg);

}

.button {
	position: relative;

	display: flex;
  align-items: center;
  justify-content: center;
}
.button a {
	font-size: 20px;
	background: var(--dark);
	padding: 20px;
	border-radius: 100px;
	color: var(--white);
}*/

.button {
  display: flex;
  justify-content: center;
}
.tugis {
  width: 30px;
  height: auto;
}
.button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* расстояние между иконкой и текстом */

  font-size: 20px;
  background: var(--dark);
  padding: 10px 30px;
  border-radius: 100px;
  color: var(--white);
}



/*///////////////////////////////////*/

.ico {
	position: relative;
	margin-left: 50%;
	transform: translate(-50%, 0);
	width: 50vw;
}

.con2 {
	text-align: center;
	width: 90%;
	margin-left: 5vw;
}

.con3 {
	width: 90%;
	margin-left: 5vw;
}

.con3 *{
 font-family: Times New roman;
}

.box {
	width: 100%;
	/*background: red;*/
	overflow: hidden;
}
.box img {
	width: 80vw;
	margin-left: 50%;
	transform: translate(-50%, 0);
	border-radius: 20px;
}
.con3 h1{
	font-size: 25px;
}
